div.block{
  overflow:hidden;
}
div.block label{
  width:160px;
  display:block;
  float:left;
  text-align:left;
}
div.block .value{
  margin-left:4px;
  float:left;
}

.rTable {
  	display: block;
  	width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
  	clear: both;
}
.rTableHead, .rTableFoot{
  	background-color: #DDD;
  	font-weight: bold;
}
.rTableCell, .rTableHead {
  	border: 1px solid #999999;
  	float: left;
  	height: 17px;
  	overflow: hidden;
  	padding: 3px 1.8%;
  	
    border-radius: 0.4em;  
}
.rTableCell:before{
    width:25%;
}
.rTableCell:after{
    width:70%;
}
.rTable:after {
  	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}
.srd_nazwaClass {
font-weight: 9;

}
#pobierz, #skanuj{
    margin-top: 5px;
}
.ui-content{
    padding-top: 0px;
    padding-bottom: 0px;
}